.idea/
.venv/
data/
data/geospatial_files/shapefiles/texas_legislative_council/2022/*.dbf
data/geospatial_files/shapefiles/texas_legislative_council/2022/*.shp
data/geospatial_files/shapefiles/texas_legislative_council/2022/*.shx

